@charset "UTF-8";
/** @format */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e9eaed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
  width: 850px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #5566a8;
}

.hero .picture {
  height: 200px;
  width: 200px;
  background: url(https://source.unsplash.com/random/300×300) no-repeat center/cover;
  position: relative;
  left: 12px;
  top: 125px;
  box-shadow: 1px 1px 3px, -1px -1px 3px;
}

.hero .title,
.hero .site,
.hero .likerow,
.hero .timerow {
  position: relative;
}

.hero .title {
  top: 21px;
  left: 219px;
  color: #f5f5f5;
  font-size: 1.75rem;
  font-weight: 600;
}

.hero .site {
  top: 23px;
  left: 219px;
  color: #f5f5f5;
  font-size: 1.2rem;
}

.hero .bttn {
  border: white dotted 3px;
  background-color: white;
  width: 100px;
  cursor: pointer;
}

.hero .likerow {
  top: -8px;
  left: 427px;
}

.hero .likerow .bttn {
  height: 30px;
  border-radius: 2px;
}

.hero .likerow .b2,
.hero .likerow .b3 {
  border-right: rgba(0, 0, 0, 0.2) solid 1px;
}

.hero .likerow .likebuttons {
  display: inline-flex;
  top: 30px;
  left: 30px;
}

.hero .likerow .likebuttons .b1 {
  margin-right: 8px;
}

.hero .timerow {
  top: 2px;
  left: -6px;
  z-index: -1;
}

.hero .timerow .timebuttons {
  display: inline-flex;
}

.hero .timerow .timebuttons .bttn {
  height: 60px;
}

.hero .timerow::before {
  content: " \00a0";
  display: inline-block;
  background-color: white;
  position: relative;
  left: 6px;
  top: -18px;
  z-index: -1;
  height: 60px;
  width: 200px;
}

.hero .timerow::after {
  content: " \00a0";
  display: inline-block;
  background-color: white;
  position: relative;
  right: -691px;
  top: -78px;
  z-index: 999;
  height: 60px;
  width: 165px;
}

.container {
  display: grid;
  grid-template-columns: 328px 512px;
  grid-template-rows: repeat(5, 100px);
  margin-top: 5rem;
  justify-content: center;
  gap: 10px;
}

.container .gridi {
  background-color: white;
}

.container .item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 10px 100px 1fr;
  gap: 2px;
  color: blue;
}

.container .item1 .gridi2 {
  background: url(https://source.unsplash.com/random/300×300) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 1 / 6;
}

.container .item1 .gridi3 {
  align-self: center;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  font-size: .75rem;
}

.container .item1 .gridi4 {
  grid-column: 3 / 4;
  grid-row: 6 / 8;
  color: black;
  background-color: white;
  text-align: center;
  align-self: center;
}

.container .item1 .gridi5 {
  grid-column: 3 / 4;
  grid-row: 8 / 9;
  padding: 0;
  font-size: .75rem;
}

.container .item1 .gridi7 {
  grid-column: 2 / 3;
  grid-row: 6 /7;
}

.container .item1 .gridi8 {
  grid-column: 3 / 4;
  grid-row: 6 /7;
}

.container .item2 {
  display: grid;
  grid-template-columns: repeat(3, 108px);
  grid-template-rows: repeat(3, 108px);
  gap: 1px;
  grid-row: 1 / 5;
}

.container .item2 .items1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: url(https://source.unsplash.com/random/100×100) no-repeat center/cover;
}

.container .item2 .items2 {
  background: url(https://source.unsplash.com/random/103×100) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.container .item2 .items3 {
  background: url(https://source.unsplash.com/random/302×300) no-repeat center/cover;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.container .item2 .items4 {
  background: url(https://source.unsplash.com/random/105×100) no-repeat center/cover;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.container .item2 .items5 {
  background: url(https://source.unsplash.com/random/100×101) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.container .item2 .items6 {
  background: url(https://source.unsplash.com/random/100×102) no-repeat center/cover;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.container .item2 .items7 {
  background: url(https://source.unsplash.com/random/100×103) no-repeat center/cover;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.container .item2 .items8 {
  background: url(https://source.unsplash.com/random/100×104) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.container .item2 .items9 {
  background: url(https://source.unsplash.com/random/100×105) no-repeat center/cover;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.container .item2 .item10 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  color: blue;
}

.container .item3 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.container .item4 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
/*# sourceMappingURL=style.css.map */