@charset "UTF-8";
/** @format */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e9eaed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page-wrapper {
  position: relative;
  margin-top: 20px;
  margin: auto;
  width: 850px;
  min-height: 100vh;
  top: 20px;
}

.page-wrapper .header__title,
.page-wrapper .header__site,
.page-wrapper .button-wrapper,
.page-wrapper .nav-wrapper,
.page-wrapper .main-wrapper,
.page-wrapper .header {
  position: absolute;
}

.page-wrapper .header {
  width: 850px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #5566a8;
  height: 264px;
  top: -9px;
}

.page-wrapper .header__img {
  height: 186px;
  width: 186px;
  background: url(https://source.unsplash.com/random/300×300) no-repeat center/cover;
  position: absolute;
  left: 20px;
  top: 107px;
  box-shadow: 1px 1px 3px, -1px -1px 3px;
}

.page-wrapper .header__title {
  top: 144px;
  left: 231px;
  color: #f5f5f5;
  font-size: 1.65rem;
  font-weight: 600;
}

.page-wrapper .header__site {
  top: 175px;
  left: 231px;
  color: #f5f5f5;
  font-size: 1.2rem;
}

.page-wrapper .header .button-wrapper {
  top: 221px;
  left: 430px;
}

.page-wrapper .header .buttons {
  display: inline-flex;
  top: 30px;
  left: 30px;
}

.page-wrapper .header .buttons__bttn {
  border: white dotted 3px;
  background-color: white;
  width: 100px;
  cursor: pointer;
  height: 30px;
  border-radius: 2px;
}

.page-wrapper .header .buttons__bttn-2, .page-wrapper .header .buttons__bttn-3 {
  border-right: rgba(0, 0, 0, 0.4) solid 1px;
}

.page-wrapper .header .buttons__bttn-1 {
  margin-right: 8px;
}

.page-wrapper .header .nav-wrapper {
  top: 252px;
  left: 200px;
  z-index: -1;
}

.page-wrapper .header .nav-wrapper__bttn-2, .page-wrapper .header .nav-wrapper__bttn-3 {
  border-right: rgba(0, 0, 0, 0.2) solid 1px;
}

.page-wrapper .header .nav {
  display: inline-flex;
}

.page-wrapper .header .nav__bttn {
  background-color: white;
  width: 100px;
  height: 60px;
  cursor: pointer;
  border: white dotted 3px;
}

.page-wrapper .header .nav__bttn-1, .page-wrapper .header .nav__bttn-2, .page-wrapper .header .nav__bttn-3, .page-wrapper .header .nav__bttn-4 {
  border-right: rgba(0, 0, 0, 0.2) solid 1px;
}

.page-wrapper .header .nav::before {
  content: " \00a0";
  display: inline-block;
  background-color: white;
  position: absolute;
  left: -200px;
  top: 0px;
  z-index: -1;
  height: 60px;
  width: 200px;
}

.page-wrapper .header .nav::after {
  content: " \00a0";
  display: inline-block;
  background-color: white;
  position: absolute;
  right: -150px;
  top: 0px;
  z-index: 999;
  height: 60px;
  width: 165px;
}

.page-wrapper .main-wrapper {
  left: 0px;
  top: 332px;
  color: blue;
}

.page-wrapper .main {
  display: grid;
  grid-template-columns: 328px 512px;
  grid-template-rows: 10px repeat(7, 100px);
  justify-content: center;
  gap: 10px;
}

.page-wrapper .main .post-txt {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 10px 75px 1fr;
  grid-template-rows: 10px 75px 8px 2fr 1fr;
}

.page-wrapper .main .post-txt__img {
  background: url(https://source.unsplash.com/random/300×300) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 75px;
}

.page-wrapper .main .post-txt__info {
  align-self: center;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  font-size: 0.75rem;
}

.page-wrapper .main .post-txt__post {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  color: black;
  align-self: center;
  background-color: #f6f7f8;
  background: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  height: 100px;
  color: whitesmoke;
  font-size: 1.2rem;
}

.page-wrapper .main .post-txt__bttns {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  font-size: 0.75rem;
}

.page-wrapper .main .aside {
  display: grid;
  grid-template-columns: repeat(3, 108px);
  grid-template-rows: 20px repeat(3, 1fr);
  grid-row: 1 / 5;
}

.page-wrapper .main .aside__img-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: url(https://source.unsplash.com/random/100×100) no-repeat center/cover;
}

.page-wrapper .main .aside__img-2 {
  background: url(https://source.unsplash.com/random/103×100) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.page-wrapper .main .aside__img-3 {
  background: url(https://source.unsplash.com/random/302×300) no-repeat center/cover;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.page-wrapper .main .aside__img-4 {
  background: url(https://source.unsplash.com/random/105×100) no-repeat center/cover;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.page-wrapper .main .aside__img-5 {
  background: url(https://source.unsplash.com/random/100×101) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.page-wrapper .main .aside__img-6 {
  background: url(https://source.unsplash.com/random/100×102) no-repeat center/cover;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.page-wrapper .main .aside__img-7 {
  background: url(https://source.unsplash.com/random/100×103) no-repeat center/cover;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.page-wrapper .main .aside__img-8 {
  background: url(https://source.unsplash.com/random/100×104) no-repeat center/cover;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.page-wrapper .main .aside__img-9 {
  background: url(https://source.unsplash.com/random/100×105) no-repeat center/cover;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.page-wrapper .main .aside__txt-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #f6f7f8;
  color: rgba(29, 29, 29, 0.685);
}

.page-wrapper .main .aside__txt-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  background-color: #f6f7f8;
  color: rgba(29, 29, 29, 0.685);
}

.page-wrapper .main .post-img {
  grid-column: 2 / 3;
  grid-row: 4 / 7;
  display: grid;
  grid-template-columns: 10px 75px 1fr;
  grid-template-rows: 10px 75px 8px 200px 20px;
}

.page-wrapper .main .post-img__img {
  background: url(https://source.unsplash.com/random/300×300) no-repeat center/cover;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.page-wrapper .main .post-img__info {
  align-self: center;
  font-size: 0.75rem;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.page-wrapper .main .post-img__post {
  background: url(https://source.unsplash.com/random/103×100) no-repeat center/cover;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

.page-wrapper .main .post-img__bttns {
  padding: 0;
  font-size: 0.75rem;
  grid-row: 5 / 6;
  grid-column: 2 / 4;
  background-color: #f6f7f8;
}

.page-wrapper .main .post,
.page-wrapper .main .aside {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  gap: 2px;
  background-color: #f6f7f8;
  color: #5566a8;
}

.page-wrapper .main .post:hover,
.page-wrapper .main .aside:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.page-wrapper .footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  height: 2.5rem;
  z-index: 999999;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */