/** @format */
// Sass variables
$p-color: #5566a8;
$s-color: #f5f5f5;
$border: black solid 3px;
// reset and borderbox
// No support for IE8 or earlier using ::before and ::after
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #e9eaed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
// Top Section
.hero {
  width: 850px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: $p-color;
  // profile picture using random photo from Unsplash
  // Every reload will load a new picture
  .picture {
    height: 200px;
    width: 200px;
    background: url(https://source.unsplash.com/random/300×300) no-repeat
      center/cover;
    position: relative;
    left: 12px;
    top: 125px;
    box-shadow: 1px 1px 3px, -1px -1px 3px;
  }
  // makes each section relative for positioning
  .title,
  .site,
  .likerow,
  .timerow {
    position: relative;
  }
  // Profile name
  .title {
    top: 21px;
    left: 219px;
    color: $s-color;
    font-size: 1.75rem;
    font-weight: 600;
  }
  // profile site
  .site {
    top: 23px;
    left: 219px;
    color: $s-color;
    font-size: 1.2rem;
  }
  // all buttons
  .bttn {
    border: white dotted 3px;
    background-color: white;
    width: 100px;
    cursor: pointer;
  }
  // row of buttons with like button
  .likerow {
    .bttn {
      height: 30px;
      border-radius: 2px;
    }
    top: -8px;
    left: 427px;
    .b2,
    .b3 {
      border-right: rgba(0, 0, 0, 0.2) solid 1px;
    }
    .likebuttons {
      display: inline-flex;
      top: 30px;
      left: 30px;

      .b1 {
        margin-right: 8px;
      }
    }
  }
  // row of buttons with timeline button
  .timerow {
    top: 2px;
    left: -6px;
    z-index: -1;
    .timebuttons {
      display: inline-flex;

      .bttn {
        height: 60px;
      }
    }
  }
  .timerow::before {
    content: " \00a0";
    display: inline-block;
    background-color: white;
    position: relative;
    left: 6px;
    top: -18px;
    z-index: -1;
    height: 60px;
    width: 200px;
  }
  .timerow::after {
    content: " \00a0";
    display: inline-block;
    background-color: white;
    position: relative;
    right: -691px;
    top: -78px;
    z-index: 999;
    height: 60px;
    width: 165px;
  }
}
